@using Microsoft.AspNetCore.Authentication
@model AuthenticationScheme[]

<div class="jumbotron">
    <h1>Authentication</h1>
    <p class="lead text-left">Sign in using EVE Online:</p>
    <form action="/signin" method="post">
        <input type="hidden" name="Provider" value="EVEOnline">
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl">
        <input type="image" src="~/images/eve-sso-login-black-large.png">
        
    </form>
</div>